# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/
dbt.log

# =========================
# DuckDB
# =========================
*.duckdb
*.duckdb.wal
*.duckdb.tmp

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml